@model IEnumerable<NCEDCO.Models.M_Customer>

        <div class="panel panel-default">
            <div class="panel-heading">Client's Customer Details Table</div>



            <div class="panel-body">
                <table id="datatable" class="table table-striped table-bordered" style="font-size:12px">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Parent_Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Request_Id)</th>
                            <th>Client's Details</th>
                            <th>Client's Address</th>
                            <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                            <th>@Html.DisplayNameFor(model => model.Fax)</th>
                            <th>Contact Person Details</th>
                            <th>Certificate Template</th>
                           @* <th>Payment Method</th>*@
  
                            @*<th></th>*@
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ClientId)</td>
                                <td>@Html.DisplayFor(modelItem => item.Request_Id)</td>                              
                                <td>@Html.DisplayFor(modelItem => item.Customer_Name) @Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                                <td>@Html.DisplayFor(modelItem => item.Fax)</td>
                                <td>@Html.DisplayFor(modelItem => item.ContactPersonName) :  
                                    @item.ContactPersonDesignation |
                                    @Html.DisplayFor(modelItem => item.ContactPersonDirectPhone),
                                    @Html.DisplayFor(modelItem => item.ContactPersonMobile),
                                    @Html.DisplayFor(modelItem => item.ContactPersonEmail)</td>
                                <td>@Html.DisplayFor(modelItem => item.TemplateId)</td>
                               @* <td>@Html.DisplayFor(modelItem => item.PaidType)</td>*@
                             @*   <td align="center">*@
                                    @*<div class="btn-group">
                                        <button type="button" class="btn btn-primary" onclick="DetailsView(@item.TeacherId)"><span class="fa fa-info"></span></button>
                                        <button type="button" class="btn btn-primary" onclick='EditView(@item.TeacherId,"@item.Name")'><span class="fa fa-pencil"></span></button>
                                        <button type="button" class="btn btn-primary" onclick="DeleteView(@item.TeacherId)"><span class="fa fa-trash"></span></button>
                                    </div>*@
                                @*    <a href="#" class="btn btn-primary btn-sm" onclick='DetailsView("@item.Request_Id")'>Detail View </a>
                                </td>*@
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
             <div class="panel-footer">Client's Customer Details Table</div>
        </div>

<script src="~/Scripts/pace/pace.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });
    });
    TableManageButtons.init();
 </script>