@model NCEDCO.Models.M_NCETemplate
<div>
    <form id="FrmSelectTemp">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select Template </h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.ClientID_, new { @Value = @ViewBag.Bag_CCTRequestId })
            @Html.HiddenFor(m => m.Template_Id, new { @Value = @Model.Template_Id })
            <div class="row">
                <div class="col-md-2 portfolio-item"></div>
                <div class="col-md-8 portfolio-item">
                    <a href="#">
                        <img class="img-responsive" src="@Model.Img_Url" alt="" style="">
                    </a>
                    <h5>
                        <a href="#">@Model.Template_Name</a>
                    </h5>
                    <p>@Model.Description_</p>
                </div>
                <div class="col-md-2 portfolio-item"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btnSubmit" class="btn btn-primary"><span class="fa fa-bookmark"></span>Select <span style="text-align: center; display: none" id="loaderDiv">
                <img src="~/img/ellipsis.gif" /></span></a>
        </div>
    </form>
</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            //if (!$("#CategoryId").val()) {
            //    $("#CategoryId").closest('.form-group').addClass('has-error');
            //    //$("#CategoryIdError").text("Required");
            //    return;
            //}
            //if (!$("#CategoryName").val()) {
            //    $("#CategoryName").closest('.form-group').addClass('has-error');
            //    //$("#CategoryNameError").text("Required");
            //    return;
            //}
            //$("#loaderDiv").show();

            var myformdata = $("#FrmSelectTemp").serialize();
            //if (!$("#myForm").valid()) {

            //    return false;
            //}
            $.ajax({

                type: "POST",
                url: "/Customer/SetClientTemplate",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#OModel").modal("hide");
                    window.location.href = "/Shared/Sucsess";

                }

            })
        })

    })


</script>
