@model NCEDCO.Models.M_CustomerParentRequest
@{
 Layout = "~/Views/Shared/_Layout_.cshtml";
}
@{
    ViewBag.Title = "Registrarion";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Registration</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Customer</a>
            </li>
            <li class="active">Registration</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Customer Registration Form</div>
            <div class="panel-body">
                <form id="FrmPCRegister" class="form-horizontal" autocomplete="off">
                     <div class="col-lg-12">
                     <h6>Genaral Details --</h6>
                   </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer_Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Customer_Name, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Customer_Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address1, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address2, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Address2, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address3, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Address3, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telephone, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Telephone, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fax, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        @*<div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.Fax, null, new { @class = "text-danger" })
                        </div>*@
                    </div>
                    <div class="col-lg-12">
                     <h6>Contact Person Details --</h6>
                   </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactPersonName, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ContactPersonName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactPersonDesignation, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.ContactPersonDesignation, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ContactPersonDesignation, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactPersonEmail, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.ContactPersonEmail, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ContactPersonEmail, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactPersonDirectPhone, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.ContactPersonDirectPhone, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ContactPersonDirectPhone, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ContactPersonMobile, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-7">
                             @Html.TextBoxFor(model => model.ContactPersonMobile, new { @class = "form-control", @maxlength = "150" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.ContactPersonMobile, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    

                    <div class="col-lg-12">
                     <h6>Other Details --</h6>
                   </div>


                    <div class="form-group">
                                @Html.LabelFor(m => m.IsVat, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.IsVat, "Y")
														<label for="radio1">
															YES
														</label>
													</div>
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.IsVat, "N")
														<label for="radio1">
															NO
														</label>
													</div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.IsVat, null, new { @class = "text-danger" })
                                </div>
                            </div>

                    <div class="form-group">
                                @Html.LabelFor(m => m.IsNCEMember, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.IsNCEMember, "Y")
														<label for="radio1">
															YES
														</label>
													</div>
                                    <div class="radio radio-inline">
														@Html.RadioButtonFor(m => m.IsNCEMember, "N")
														<label for="radio1">
															NO
														</label>
													</div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.IsNCEMember, null, new { @class = "text-danger" })
                                </div>
                            </div>

                  

                    <div class="col-lg-12">
                     <h6>Customer Administrator Details --</h6>
                   </div>
                     <div class="form-group">
                                @Html.LabelFor(m => m.Admin_UserId, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Admin_UserId, new { @class = "form-control"})
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Admin_UserId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                    <div class="form-group">
                                @Html.LabelFor(m => m.Admin_Name, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(model => model.Admin_Name, new { @class = "form-control"})
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Admin_Name, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Admin_Password, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.PasswordFor(model => model.Admin_Password, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Admin_Password, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-7">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                                </div>
                            </div>

                    <div class="hr-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="button" value="Save" id="btnRegister" onclick="CreateParentCustomer()" class="btn btn-primary"><span class="fa fa-bookmark"></span>Save <span style="text-align: center; display: none" id="loaderDiv">
                                <img src="~/Images/ellipsis.gif" /></span></button>
                        </div>
                    </div>



                </form>
            </div>
            <div class="panel-footer">Customer Registration Form</div>
        </div>
    </div>
</div>
<!--Notification Modals -->
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="SModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"  id="SModelBody">
        <label id="lblSuccess">Registration request has been proceded. An Email will send to you when the request is processed.</label>
    </div>

  </div>
</div>
<script>

    var CreateParentCustomer = function () {
        var myformdata = $("#FrmPCRegister").serialize();

        if (!$("#FrmPCRegister").valid()) {
            return false;
        }
        $("#loaderDiv").show();
        $("#btnRegister").prop('value', 'Saving');
        $.ajax({

            type: "POST",
            url: "/Customer/Register",
            data: myformdata,
            success: function (result) {
                $("#loaderDiv").hide();
                if (result == "Success") {
                    $("#btnRegister").prop('value', 'Saved Successfully');
                    $("#SModel").modal("show");
                    //window.location.href = "/Teacher/Create?Msg= Saved Successfully";
                    //$('#qualification').load();
                    //$("#btnCreateTeacher").prop('value', 'Save');
                    //$('.nav-tabs a[href="#qualification"]').tab('show');                    
                }
                else if (result == "Error") {
                    $("#ErrorLable").text("An Error Occoured while Completing the Request. Please Try Again Later");
                    $("#btnCreateTeacher").prop('value', 'Save');
                    $("#errorModel").modal("show");
                }
                else {

                    $("#ErrorLable").text("An Error Occoured while Completing the Request. Please Try Again Later !!");
                    $("#btnCreateTeacher").prop('value', 'Save');
                    $("#errorModel").modal("show");
                }

            }

        })
    }

    $('#Admin_UserId').blur(function () {
        var url = "/User/CheckUserName";
        var name = $('#UserId').val();
        debugger
        $.get(url, { input: name }, function (data) {
            if (data == "true") {
                $("#ErrorLable").text("User Name Already Exits");
                $("#btnRegister").prop('value', 'Save');
                $("#errorModel").modal("show");
            }
        });
    })

</script>