@model IEnumerable<NCEDCO.Models.M_CancelDocument>
@{
    ViewBag.Title = "Document Cancelation";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Document Cancelation</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Cancelation</a>
            </li>
            <li class="active">Document Cancelation</li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Document Cancelation</div> 



            <div class="panel-body">
                <table id="datatable" class="table table-striped table-bordered" style="font-size:11px;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Ref_No)</th>
                            <th>@Html.DisplayNameFor(model => model.RequestId)</th>
                            <th>@Html.DisplayNameFor(model => model.Dtype)</th>
                            <th>@Html.DisplayNameFor(model => model.InvoicNo)</th>
                            <th>@Html.DisplayNameFor(model => model.ApprovedDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ApprovedBy)</th>
                            <th>@Html.DisplayNameFor(model => model.IsDownloaded)</th>
                            <th>@Html.DisplayNameFor(model => model.Client)</th>
                            <th>Details</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Ref_No)</td>
                                @if(item.RequestId != null){
                                <td>@Html.DisplayFor(modelItem => item.RequestId)</td>
                                }else{<td>N/A</td>}
                                <td>@Html.DisplayFor(modelItem => item.Dtype)</td>                             
                                <td>@Html.DisplayFor(modelItem => item.InvoicNo)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApprovedDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApprovedBy)</td>
                                @if(item.IsDownloaded == "Y"){
                                <td>Yes</td>
                                }
                                else{<td>No</td>}
                                <td><a data-toggle="tooltip" title="Parent : @item.Parent">@item.Client</a></td>
                                <td align="center">
                                    <div class="btn-group ">
                                        <a href="#" class="btn btn-primary btn-xs"  onclick='DwnCertificate("@item.Path")'>View</a> 
                                    </div>
                                </td>
                                <td align="center">
                                    <div class="btn-group ">
                                        <a href="#" class="btn btn-primary btn-xs" onclick='CancelDoc("@item.Ref_No","@item.ClientId","@item.Dtype")' >Cancel</a> 
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
             <div class="panel-footer">Document Cancelation</div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="OModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"  id="OModelBody">

    </div>

  </div>
</div>
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/pace/pace.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable({ "order": [[4, "desc"]] });
        $('#datatable-keytable').DataTable({
            keys: true
        });
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        $("#bulkS").click(function () {
            getValueUsingClass();
        });
    });
    TableManageButtons.init();
  
</script>
<script>
    var DwnCertificate = function (ID) {
        var Url = "/CancelDocument/ViewPDF?ID=" + ID;
        window.open(Url, "_blank")
    }
    var CancelDoc = function (Ref, Client, Doctype) {
        var Url = "/CancelDocument/Cancel_Doc?Ref=" + Ref + "&Client=" + Client + "&Doctype=" + Doctype;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }
</script>
