@model NCEDCO.Models.M_Cerificate

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Certificate Genaral Details</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Consignor_Exporter, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextAreaFor(model => model.Consignor_Exporter, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.Consignor_Exporter, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Consignee, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextAreaFor(model => model.Consignee, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.Consignee, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvoiceNo, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.InvoiceNo, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvoiceDate, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.InvoiceDate, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.InvoiceDate, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CountyOfOrigin, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.CountyOfOrigin, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.CountyOfOrigin, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.PortOfLoading, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.PortOfLoading, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.PortOfLoading, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Vessel, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Vessel, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.Vessel, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*****************Different Template Changes Start*****************************************@

                                @if (Model.TemplateId != "template-3" || Model.TemplateId != "template-4"){

                                <div class="form-group">
                                    @Html.LabelFor(m => m.PortOfDischarge, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.PortOfDischarge, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.PortOfDischarge, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.PlaceOfDelivery, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.PlaceOfDelivery, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.PlaceOfDelivery, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                }

                                @if (Model.TemplateId == "template-3" || Model.TemplateId == "template-4"){
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OtherComments, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.OtherComments, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.OtherComments, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                }
                            </div>
                            <div class="panel-footer">Certificate Genaral Details</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Certificate Item Details</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Goods_Item, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Goods_Item, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.Goods_Item, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ShippingMarks, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.ShippingMarks, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.ShippingMarks, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SummaryDescription, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextAreaFor(model => model.SummaryDescription, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.ShippingMarks, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.QtyNUnit, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.QtyNUnit, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.QtyNUnit, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                @if (Model.TemplateId != "template-1" || Model.TemplateId != "template-3")
                                {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.HSCode, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.HSCode, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.HSCode, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                }
                                @if (Model.TemplateId == "template-3")
                                {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Remarks, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.ValidationMessageFor(model => model.Remarks, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                }
                            </div>
                            <div class="panel-footer">Certificate Item Details</div>
                        </div>
                    </div>


                    @*  @using (Html.BeginForm("Index", "CertificateRequest", FormMethod.Post, 
                        new { id = "TheForm", enctype = "multipart/form-data" }))
            {
        *@
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Certificate Supporting Documents</div>
                            @* <input id="Submit1" class="btn btn-success" type="submit" onclick="return Savefiles();" value=" submit" />

                            <button type="button" value="Save" id="btnRegister" onclick="CreateParentCustomer()" class="btn btn-primary">
                                <span class="fa fa-bookmark"></span>Save <span style="text-align: center; display: none" id="loaderDiv">
                                    <img src="~/Images/ellipsis.gif" /></span></button>*@

                            <div class="panel-body">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Is Mandatory</th>
                                            <th>Upload File Location</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @if (Model != null)
                                        {
                                            for (int i = 0; i < Model.Support_Docs.Count; i++)
                                            {
                                                var fileupload1 = "file_" + Convert.ToString(Model.Support_Docs[i].SupportingDocument_Id);
                                            <tr>
                                                @Html.HiddenFor(m => m.Support_Docs[i].SupportingDocument_Id, new { id = @Model.Support_Docs[i].SupportingDocument_Id })
                                                @Html.HiddenFor(m => m.Support_Docs[i].Is_Mandatory, new { id = @Model.Support_Docs[i].Is_Mandatory })
                                                <td>@Model.Support_Docs[i].SupportingDocument_Name</td>
                                                @if (Model.Support_Docs[i].Is_Mandatory == "Y")
                                                {<td>Yes</td>}
                                                else
                                                {<td>No</td>}
                                                <td><span class="btn btn-default btn-file">
                                                    <input type="file" id="@fileupload1" name="@fileupload1" onchange="ValidateFile(this);" />
                                                </span></td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">Certificate Supporting Documents</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Post Refference Settings</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AddAsReff, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-3">
                                        @*@Html.DropDownListFor(model => model.Consignor_Exporter, ViewBag.Bag_ExportSectors as SelectList, "", new { @class = "form-control" })*@
                                    </div>
                                    @Html.LabelFor(m => m.CTemplateName, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @maxlength = "150" })
                                    </div>
                                </div>
                            </div>
                        </div>

                  </div>