@model IEnumerable<NCEDCO.Models.M_Users>
@{
    ViewBag.Title = "Document Cancelation";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>System Users</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">User</a>
            </li>
            <li class="active">System Users View</li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">System Users Table <a href="#" onclick="NewUser()" class="btn btn-primary btn-sm" style="float:right"">New User</a></div> 



            <div class="panel-body">
                <table id="datatable" class="table table-striped table-bordered" style="font-size:13px;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.UserId)</th>
                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                           @* <th>@Html.DisplayNameFor(model => model.ContactPersonMobile)</th>*@
                            <th>@Html.DisplayNameFor(model => model.UserGroup)</th>
                            <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>                             
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.ContactPersonMobile)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.UserGroup)</td>
                                @if(item.IsActive == "Y"){
                                <td>Yes</td>
                                }
                                else{<td>No</td>}
                                <td align="center">
                                    <div class="btn-group ">
                                        <a href="#" class="" onclick='EidtUser("@item.UserId")' >Edit</a> |
                                        <a href="#" class="" onclick='resetP("@item.UserId")' >Reset Password</a> 
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
             <div class="panel-footer">System Users Table</div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="OModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"  id="OModelBody">

    </div>

  </div>
</div>
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<div id="SModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="SBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success !</h4>
            </div>
            <div class="modal-body">
                <label id="SLable" class="control-label" style="color: #00ff21"></label>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/pace/pace.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        $("#bulkS").click(function () {
            getValueUsingClass();
        });
    });
    TableManageButtons.init();
  
</script>
<script>
    var NewUser = function () {
        var Url = "/User/NewUser";
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }
    var EidtUser = function (id) {
        var Url = "/User/EditUser?id="+id;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }
    var resetP = function (id) {
        var Url = "/User/ResetPasswrd?Uid=" + id;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }
</script>
