@model NCEDCO.Models.M_Users

<div>
    <form id="FrmRPC" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reset Password For User : @Model.UserId | @Model.UserName</h4>
        </div>
        <div class="modal-body">
                @Html.HiddenFor(m => m.UserId)
            <div class="form-group">
                @Html.LabelFor(m => m.Password_, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-7">
                   @Html.TextBoxFor(model => model.Password_, new { @class = "form-control", @maxlength = "150" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btnSubmit" class="btn btn-primary">Save <span style="text-align: center; display: none" id="loaderDiv">
                <img src="~/Images/ellipsis.gif" /></span></a>
        </div>
    </form>
</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            if (!$("#Password_").val()) {
                $("#Password_").closest('.form-group').addClass('has-error');
                return;
            }
            $("#loaderDiv").show();
            debugger
            var myformdata = $("#FrmRPC").serialize();
            $.ajax({

                type: "POST",
                url: "/User/ResetP",
                data: myformdata,
                success: function (result) {
                    $("#loaderDiv").hide();
                    if (result) {
                        $("#OModel").modal("hide");
                        $("#SLable").text("Reset Successful");
                        $("#SModel").modal("show");
                    }
                    else {
                        $("#OModel").modal("hide");
                        $("#ErrorLable").text("An Error Occoured while Completing the Request. Please Try Again Later");
                        $("#errorModel").modal("show");
                    }
                }

            })
        })

    })


</script>
