@model NCEDCO.Models.M_InvoiceView
@{
    ViewBag.Title = "InvoiceView";
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <small>Invoice</small>
        </h3>
        <ol class="breadcrumb">
            <li><a href="index.html">Invoice</a>
            </li>
            <li class="active">Generated Invoice</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
@*            <div class="panel-heading">Pending to Invoice Table</div>*@
            <div class="panel-body">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">No # @Model.InvoiceNo</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					@Model.Customer_Name<br>
    					@Model.Address1<br>
    					@Model.Address2<br>
    					@Model.Address3
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
    					Jane Smith<br>
    					1234 Main<br>
    					Apt. 4B<br>
    					Springfield, ST 54321
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Invoicing From:</strong>
    					@Model.FromDate
    					<strong>To:</strong>
                        @Model.ToDate<br>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Invoice Date:</strong>
    					@Model.InvoicedDate<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Document ID</strong></td>      							
        							<td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
                                @foreach(var item in Model.InvoiceBody){
    							<tr>
    								<td>@item.Certificate_ID</td>
    								<td class="text-center">@item.Rate_</td>
    								<td class="text-center">@item.Consignee_</td>
    								<td class="text-right">@item.Consignor_</td>
    							</tr>
                                }
                                
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
            </div>
        </div>
    </div>
