@model IEnumerable<NCEDCO.Models.M_SupportDocument>
@{
    ViewBag.Title = "Support Doc Download";
}



<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Approved Support Document Download<a href="#" id="bulkS" onclick="CheckIds()" class="btn btn-primary btn-sm" style="float:right">Download</a></div> 



            <div class="panel-body">
                <table id="datatable" class="table table-striped table-bordered" style="font-size:11px;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Request_ID)</th>
                            <th>@Html.DisplayNameFor(model => model.Certificate_RequestId)</th>
                            <th>@Html.DisplayNameFor(model => model.SupportingDocument_Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description_)</th>
                            <th>@Html.DisplayNameFor(model => model.Approved_Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Is_Downloaded)</th>
                            <th>@Html.DisplayNameFor(model => model.Approved_BY)</th>
                            <th>Bulk</th>
                            <th>Documents</th>
                        </tr>
                    </thead>


                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Request_ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Certificate_RequestId)</td>
                                <td>@Html.DisplayFor(modelItem => item.SupportingDocument_Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description_)</td> @*Invoice NO as Description*@
                                <td>@Html.DisplayFor(modelItem => item.Approved_Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Is_Downloaded)</td>
                                <td>@Html.DisplayFor(modelItem => item.Approved_BY)</td>
                                
                                @{
                                var Checkedid = item.Request_ID;
                                    }
                                <td align="center"><input type="checkbox" class="chk" id='@Checkedid' name="@Checkedid" value='@Checkedid'></td>
                                <td align="center">
                                    <div class="btn-group ">
                                        <a href="#"  onclick='DwnSupport("@item.Download_Path")'>Support</a>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
             <div class="panel-footer">Approved Support Document Download</div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="OModel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"  id="OModelBody">

    </div>

  </div>
</div>
<div id="errorModel" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="MyModelBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <label id="ErrorLable" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/pace/pace.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable({ "order": [[4, "desc"]] });
        $('#datatable-keytable').DataTable({
            keys: true,
            order: [[0, "desc"]]
        });
        $('#datatable-responsive').DataTable();
        $('#datatable-scroller').DataTable({
            ajax: "js/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        //$("#bulkS").click(function () {
        //    getValueUsingClass();
        //});
    });
    TableManageButtons.init();
  
</script>
<script>
    var DwnSupport = function (ID) {
        var Url = "/CertificateDownload/ViewPDF?ID=" + ID;
        window.open(Url, "_blank")
    }

    var ApproveBulk = function (Req) {
        var Url = "/SupportDcoument/BulkSign_Model?IDs=" + Req;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }

    var SupportD = function (Req) {
        var Url = "/CertificateDownload/getCertificateSupportDocs?Cid=" + Req;
        $("#OModelBody").load(Url, function () {
            $("#OModel").modal("show");
        })
    }

    function CheckIds() {
        /* declare an checkbox array */
        var chkArray = [];
        /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
        $(".chk:checked").each(function () {
            chkArray.push($(this).val());
        });

        /* we join the array separated by the comma */
        var selected;
        selected = chkArray.join(',');

        /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
        if (selected.length > 0) {
            AjaxPost(selected)
        } else {
            alert("Please at least check one of the checkbox");
        }
    }

    function AjaxPost(countryArray) {
        var ajaxConfig = {
            type: "POST",
            url: "/SupportDocument/BulkDownload",
            //contentType: 'application/json',
            data: { IDs: JSON.stringify(countryArray) },
            success: function (result) {
                if (result.Msg == "Succes") {

                    //$('#LoadTemplate').load('/CertificateDownload?Reff=' + result.Cid);
                    //$('#LoadTemplate').show();
                    //$('#Rqid').text(result.RqId);
                    $("#SMsg").show();
                }
                else {
                    $("#ErrorLable").text("Unable to Complete the Certificate Request. Please Contact the Administrator !");
                    $("#errorModel").modal("show");
                }

            }
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>



