@model IEnumerable<NCEDCO.Models.M_SupportDocument>


    <div class="panel-heading"> Certificate Requests Supporting Docs</div>
 
            <div class="panel-body">
                @if (Model != null)
                {
                    if(Model.Count() > 0){
                    <table id="datatable" class="table table-striped table-bordered" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.SupportingDocument_Id)</th>
                                <th>@Html.DisplayNameFor(model => model.SupportingDocument_Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Status_)</th>
                                @*<th>@Html.DisplayNameFor(model => model.SupportingDocumentID)</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.SupportingDocument_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SupportingDocument_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Status_)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.SupportingDocumentID)</td>*@
                                    <td align="center"><a href="#" class="btn btn-primary btn-sm"  onclick='DwnCertificate("@item.Download_Path")'>View</a></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                  }
                  else{
                        <label>No Supporting Documents Available</label>
                    }
                }
            </div>
